body{
	font-family: 'Russo One', sans-serif;
	background-color: #5F9EA0;
}
div#bloc{
	display: flex;
	flex-direction: column;
}
div#conteneur1{
	order: 2;
	text-align: center;
	position: absolute; /* position de départ */
  	top: 50%; left: 50%; /* à 50%/50% du parent référent */
  	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
div#conteneur1 h1{
	font-size: 4rem;
}
div#footer footer p{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
}